<script>
    import '../app.css';
    import TimePicker from '$lib/TimePicker.svelte';

    // The time picker options
    let options = {
        // Options
        hasButtons: true,
        is24h: true,
    };

</script>

<div class="flex-col-center">
    <h1>Svelte Time Picker</h1>
    <div class="picker">
        <TimePicker {options}/>
    </div>
</div>

<style>
    .picker {
        background-color: dodgerblue;
        padding:2rem;
    }
</style>
