<script lang="ts">
    // Copyright (c) 2020-2024 Jacques Desodt
    import {createEventDispatcher} from 'svelte';
    import {isAm} from '../scripts/dates.js';

    const dispatch = createEventDispatcher();

    export let args = {
        color: '#000000',
    };
    export let date = new Date();

    /* Local variables */
    let amStyle: string;
    $: amStyle = isAm(date) ? 'color:' + args.color + ';' : '';
    let pmStyle: string;
    $: pmStyle = !isAm(date) ? 'color:' + args.color + ';' : '';
</script>

<div class="_tp-part" style={amStyle}
     role="presentation"
     on:click|stopPropagation={() => dispatch('am')}
     on:keydown
>
    AM
</div>
<div class="_tp-part" style={pmStyle}
     role="presentation"
     on:click|stopPropagation={() => dispatch('pm')}
     on:keydown
>
    PM
</div>

<style>
    ._tp-part {
        color: rgba(255, 255, 255, 0.4);
        cursor: pointer;
        font-size: 1.3rem;
        margin: 0.25rem;
        transition-duration: 300ms;
        transition-property: background-color, border-color, color, fill, stroke;
    }

    ._tp-part:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
</style>
