<script lang="ts">
    // Copyright (c) 2020-2024 Jacques Desodt
    import {formatTime} from '../scripts/dates.js';

    export let args = {
        color: '#000000',
        is24h: false,
    };
    export let hour = true;
    export let selected = false;
    export let value = 0;

    // Local variables
    let am: boolean;
    $: am = value >= 0 && value < 12;
    let pmHour: number;
    $: pmHour = args.is24h ? value : ((value - 12) === 0 ? 12 : value - 12);
    let style: string;
    $: style = selected ? 'color:' + args.color + ';' : '';

</script>

<div class="_tp-value" style={style}
     role="presentation"
     on:click
     on:keydown
>
    {formatTime(hour ? (am ? value : pmHour) : value)}
</div>

<style>
    ._tp-value {
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        transition-duration: 300ms;
        transition-property: background-color, border-color, color, fill, stroke;
    }

    ._tp-value:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
</style>
