<script lang="ts">
    // Copyright (c) 2020-2024 Jacques Desodt
    import {getAmPm, hourToDegrees, minuteToDegrees} from '../scripts/dates.js';

    export let args = {
        bgColor: '#000000',
        is24h: false,
    };
    export let date = new Date();
    export let hoursSelected = true;
    export let transitionClass = '';

    /* Local variables */
    let style: string;
    $: style = args.bgColor ? 'background-color:' + args.bgColor + ';' : '';
    let ampm: string;
    $: ampm = hoursSelected ? (args.is24h ? getAmPm(date) : 'am') : 'am';
    let degrees: any;
    $: degrees = hoursSelected ? hourToDegrees(date) : minuteToDegrees(date);
    let isFiveMinutes: boolean;
    $: isFiveMinutes = Math.round(degrees / 30) === (degrees / 30);
    let pointerStyle: string;
    $: pointerStyle = 'color:' + args.bgColor + ';' +
        (hoursSelected || isFiveMinutes ? 'background-color:' + args.bgColor + ';' : '');
</script>

<div class="_tp-hand {transitionClass}"
     class:_tp-hand-am={ampm === 'am'}
     class:_tp-hand-pm={ampm !== 'am'}
     style="transform: rotateZ({90 + degrees}deg);{style}"
>
    <div class="_tp-pointer" style={pointerStyle}></div>
</div>

<style>
    /*noinspection CssUnusedSymbol*/
    :global(._tp-hand._tp-hasTransition) {
        transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    ._tp-hand {
        left: calc(50% - 1px);
        width: 2px;
        bottom: 50%;
        position: absolute;
        transform-origin: center bottom 0;
    }

    ._tp-hand-am {
        height: 39.5%;
    }

    ._tp-hand-pm {
        height: 26.5%;
    }

    ._tp-pointer {
        top: -21px;
        left: -16px;
        width: 4px;
        border: 14px solid;
        height: 4px;
        position: absolute;
        box-sizing: content-box;
        border-radius: 100%;
    }
</style>
