<script lang="ts">
    // Copyright (c) 2020-2024 Jacques Desodt
    export let ampm = 'am';
    export let degrees = 0;
    export let label = '';
    export let selectedAmpm = 'am';
    export let selectedDegrees = 0;

    // Local variables
    let translation: string;
    $: translation = (ampm === 'am' || !ampm) ? '6.7' : '4.5';

</script>

<div class="_tp-item-container"
     style="transform: rotate({degrees}deg) translate({translation}rem) rotate(-{degrees}deg);"
>
    <div class="_tp-item"
         class:_tp-item-am={ampm === 'am'}
         class:_tp-item-pm={ampm !== 'am'}
         class:_tp-selected={degrees === selectedDegrees && (ampm === selectedAmpm ||!ampm)}
    >
        {label}
    </div>
</div>

<style>
    ._tp-item {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        user-select: none;
    }

    ._tp-item._tp-selected {
        color: #fff;
    }

    ._tp-item-am {
        margin-top: -0.7rem;
    }

    ._tp-item-pm {
        font-size: 0.85rem;
        line-height: 1.4;
        margin-top: -0.58rem;
    }

    ._tp-item-container {
        left: 50%;
        margin-left: -1rem;
        top: 50%;
        position: absolute;
        text-align: center;
        width: 2rem;
    }
</style>
