<script lang="ts">
    // Copyright (c) 2020-2024 Jacques Desodt
    import Button from './Button.svelte';
    import {createEventDispatcher} from 'svelte';

    const dispatch = createEventDispatcher();

    export let args = {
        buttonBarClassName: 'button-bar',
        buttonCancel: 'cancel',
        buttonClassName: 'button',
        buttonNow: 'now',
        buttonOk: 'ok',
    };
    export let date = new Date();

    // Handles the Cancel event
    const handleCancel = () => {
        dispatch('cancel')
        dispatch('resetHoursMinutes')
    }

    // Handles the Now event
    const handleNow = () => {
        date = new Date();
        dispatch('change')
        dispatch('resetHoursMinutes')
    }

    // Handles the OK event
    const handleOk = () => {
        dispatch('ok')
        dispatch('resetHoursMinutes')
    }

</script>

<div class="_tp-wrapper {args.buttonBarClassName}">
    <div class="_tp-button _tp-now">
        <Button {args} label={args.buttonNow}
                on:click={handleNow}
        />
    </div>
    <div class="_tp-button _tp-ok">
        <Button {args} label={args.buttonOk}
                on:click={handleOk}
        />
    </div>
    <div class="_tp-button _tp-cancel">
        <Button {args} label={args.buttonCancel}
                on:click={handleCancel}
        />
    </div>
</div>

<style>
    ._tp-button {
        bottom: 0.5rem;
        position: absolute;
    }

    ._tp-cancel {
        right: 0.5rem;
    }

    ._tp-now {
        left: 0.5rem;
    }

    ._tp-wrapper {
        align-items: center;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        font-size: 20px;
        height: 2.5rem;
        justify-content: center;
        position: relative;
        width: 100%;
    }
</style>
