/* Copyright (c) 2024 e-soa com Jacques Desodt */
/* Application CSS */

.flex-col-begin {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-col-bottom {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-col-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-col-end {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-col-middle {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-col-start {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-col-top {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.flex-content-centered {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow-y: auto;
    width: 100%;
}

.flex-rest {
    flex: 1 1 0;
}

.flex-row-begin {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-row-bottom {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-row-center {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-row-end {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex-row-start {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.full-size {
    height: 100%;
    width: 100%;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
